VITE_NODE_ENV=dev
VITE_WIZOPS_API_BASE_URL=
VITE_API_USER_LOCAL_URL=http://localhost:3000
VITE_API_USER_DEV_URL=https://devapiwizops.stockwiz.in
VITE_API_USER_PROD_URL=https://apiwizops.stockwiz.in
VITE_API_KEY=
RAZORPAY_KEY_ID=
